* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

p {
    margin: 0 0 1em;
    line-height: 1.75em;
}

main {
    margin: auto;
    padding: 0 16px;
    overflow: auto;
}

article {
    padding-top: 72px;
}


/* header; navbar & jumbotron */
.nav-bar {
    height: 64px;
    width: 100%;
    position: fixed;
    background-color: white;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
}

.nav-bar .container {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    padding: 0 16px;
}

.nav-bar .logo {
    font-family: 'Lobster', sans-serif;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-between;
}

.nav-bar a {
    color: black;
    text-decoration: none;
    font-size: 0.85em;
    font-weight: bold;
}


/* Jumbotron */
.jumbotron {
    padding-top: 80px;
    text-align: center;
}

.jumbotron img {
    width: 240px;
    border-radius: 50%;
}

.jumbotron p {
    margin: 0;
}


/* font awesome */
.social {
    margin-top: 24px;
}

.social .fa {
    padding: 7px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
}

.fa-facebook {
    background: #3B5998;
}

.fa-twitter {
    background: #55ACEE;
}

.fa-linkedin {
    background: #007bb5;
}

.fa-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.fa-github {
    background: #000000;
}

.fa-gitlab {
    color: white;
    background: #E2432A;
}


.content,
aside {
    width: 100%;
    padding: 0;
}

aside p {
    margin: 0;
}

#skills {
    margin-top: 1.2em;
}

.edu-item {
    display: flex;
    align-items: center;
}

.edu-item img {
    padding: 8px;
    width: 64px;
}


/* Form and input */
label {
    display: block;
    margin-top: 16px;
}

input[type=text],
input[type=submit],
textarea,
select {
    display: block;
    padding: 10px;
    margin: 10px 0;
    outline: none;
    border: 1px solid #BEBEBE;
    border-radius: 4px;
    width: 100%;
    transition: all 0.30s ease-in-out;;
}

input[type=text]:focus,
textarea:focus,
select:focus,
input[type=submit]:hover {
    box-shadow: 0 0 8px #BEBEBE;
}

input[type=submit] {
    color: white;
    background-color: #55ACEE;
}

/* Footer */
footer {
    border-top: 1px solid rgba(0, 0, 0, .1);
    margin-top: 64px;
    padding: 16px;
    margin-bottom: 0;
}

footer .container {
    padding-top: 24px;
    margin: auto;
}

footer .container p {
    font-size: 11pt;
    text-align: center;
    margin: 0;
}


/* Breakpoint */
@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {

    .nav-bar ul {
        width: 35%;
    }

    .container {
        max-width: 720px;
    }

    .content {
        float: left;
        width: 70%;
    }

    aside {
        float: right;
        width: 30%;
        padding-left: 16px;
    }

}

@media screen and (min-width: 992px) {
    .nav-bar ul {
        width: 30%;
    }

    .container {
        max-width: 960px;
    }

    .content {
        float: left;
        width: 75%;
    }

    aside {
        float: right;
        width: 25%;
        padding-left: 16px;
    }
}

@media screen and (min-width: 1200px) {
    .nav-bar ul {
        width: 25%;
    }

    .container {
        max-width: 1140px;
    }
}